@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body{ 
  font-size: 15pt;
  margin:0 auto; 
  background:#f2feff;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 120%;
}
 #Header {
     width: 100%;
     height: 35px;
     border-bottom: 2px solid rgba(11, 21, 153, 0.61);
     background:#b3ffff;
     font-family: "Segoe UI", Arial, sans-serif;
     padding: 3px;
     
 }

Header div {
  float: left;
}

#logo{
  width: 20%;
   float: left;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(24, 65, 6);
  -webkit-transition: all.9s ease;
  -o-transition: all.9s ease;
  -ms-transition: all.9s ease;
  transition: all.9s ease;
}


nk {
  float: left;
  color: darkblue;

}
#Home {
  color: crimson;
  text-decoration: none;

}
#Home:hover {
  color: rgb(210, 233, 3);
  -webkit-transition: all.9s ease;
  -o-transition: all.9s ease;
  -ms-transition: all.9s ease;
  transition: all.9s ease;
}

#OoUs {
  width: 38%;
  float: left;
  text-align: center;
}

#Home2 {
  float: left;
  text-decoration: none;
  color: #1f517a;
 
}

#Home21 {
  float: left;
  text-decoration: none;
  background-color: darkcyan;
  color: #f2feff;
  border-radius: 7px;
  padding: 2px;
}

#Home22 {
  float: left;
  text-decoration: none;
  background-color: darkcyan;
  color: #f2feff;
  border-radius: 7px;
  padding: 2px;
}
#Reg {
  margin-right: 5px;
  text-align: right;
  width: 250px;
  float: right;
}

#r1 {
  background-color: rgb(0, 72, 139);
  color: #f2feff;
  float: left;
  border-radius: 7px;
  padding: 2px;
}
#r2 {
  background-color: rgb(0, 72, 139);
  color: #f2feff;
  float: right;
  border-radius: 7px;
  padding: 2px;
}



#text1 {
  background-color: rgb(185, 255, 232);
  border-radius: 20px;
  padding: 6px;
  margin-top: 6px;
  margin-left: 6px;
  width:50%;
  height: auto;
  text-align: justify;
}

#text2 {
  background-color: rgb(185, 255, 232);
  border-radius: 20px;
  padding: 6px;
  margin-top: 6px;
  margin-left: 47%;
  width:50%;
  height: auto;
  text-align: justify;
}

#text3 {
  background-color: rgb(185, 255, 232);
  border-radius: 20px;
  padding: 6px;
  margin-top: 6px;
  margin-left: 6px;
  width:50%;
  height: auto;
  text-align: justify;
}

#Osnova{
  width: 570px;
  margin: auto;
}

#Forma{
  float: left;
  margin: 5px;
  border-radius: 20px;
  width: 260px;
   background-color: rgba(243, 255, 80, 0.541);
  font-size: 115%;
  text-align: center;
  padding-bottom: 6px;
}

#Forma3{
  float: left;
  margin: 5px;
  border-radius: 20px;
  width: 260px;
   background-color: rgba(243, 255, 80, 0.541);
  font-size: 115%;
  text-align: center;
  padding-bottom: 6px;
}

#Forma4{
  float: left;
  margin: 5px;
  border-radius: 20px;
  width: 260px;
   background-color: rgba(243, 255, 80, 0.541);
  font-size: 90%;
  text-align: center;
  padding-bottom: 6px;
}

#map{
  width: 700px;
  margin: auto;
}

label {
}
input {
  width: 90%;
  font-size: 65%;
}